<a href="https://colab.research.google.com/github/04Dongjin/colab/blob/main/Lession2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬2장

In [3]:
a = 100
b = 200
result = a+b
print(a,"+",b,"=",result)
result1 = a-b
print(a,"-",b,"=",result1)
result2 = a*b
print(a,"*",b,"=",result2)
result3 = a/b
print(a,"/",b,"=",result3)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

input() 예제

In [7]:
num1 = input("첫번째 숫자 입력==>")
num2 = input("두번째 숫자 입력==>")
result =int(num1) + int(num2)
print(num1,"+",num2,"=",result)

첫번째 숫자 입력==>200
두번째 숫자 입력==>100
200 + 100 = 300

-input()를 이용한 간단한 계산기 만들기

In [9]:
num1 = input("첫번째 숫자 입력==>")
num2 = input("두번째 숫자 입력==>")
result1 =int(num1) + int(num2), int(num1) - int(num2)
result2 =int(num1) * int(num2), int(num1) / int(num2)
print(num1,"+",num2,"=",result1)
print(num1,"-",num2,"=",result1)
print(num1,"*",num2,"=",result2)
print(num1,"/",num2,"=",result2)

첫번째 숫자 입력==>100
두번째 숫자 입력==>200
100 + 200 = (300, -100)
100 - 200 = (300, -100)
100 * 200 = (20000, 0.5)
100 / 200 = (20000, 0.5)

In [12]:
num1 = input("이름==>")
num2 = input("전화번호==>")
print("제 이름은" ,num1,"이고", "전화번호는", num2,"입니다")

이름==>ㄱㄱㄱ
전화번호==>111111111111
제 이름은 ㄱㄱㄱ 이고 전화번호는 111111111111 입니다