<a href="https://colab.research.google.com/github/04Dongjin/colab/blob/main/Lession2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬2장

In [3]:
a = 100
b = 200
result = a+b
print(a,"+",b,"=",result)
result1 = a-b
print(a,"-",b,"=",result1)
result2 = a*b
print(a,"*",b,"=",result2)
result3 = a/b
print(a,"/",b,"=",result3)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

input() 예제

In [7]:
num1 = input("첫번째 숫자 입력==>")
num2 = input("두번째 숫자 입력==>")
result =int(num1) + int(num2)
print(num1,"+",num2,"=",result)

첫번째 숫자 입력==>200
두번째 숫자 입력==>100
200 + 100 = 300

-input()를 이용한 간단한 계산기 만들기

In [9]:
num1 = input("첫번째 숫자 입력==>")
num2 = input("두번째 숫자 입력==>")
result1 =int(num1) + int(num2), int(num1) - int(num2)
result2 =int(num1) * int(num2), int(num1) / int(num2)
print(num1,"+",num2,"=",result1)
print(num1,"-",num2,"=",result1)
print(num1,"*",num2,"=",result2)
print(num1,"/",num2,"=",result2)

첫번째 숫자 입력==>100
두번째 숫자 입력==>200
100 + 200 = (300, -100)
100 - 200 = (300, -100)
100 * 200 = (20000, 0.5)
100 / 200 = (20000, 0.5)

In [12]:
num1 = input("이름==>")
num2 = input("전화번호==>")
print("제 이름은" ,num1,"이고", "전화번호는", num2,"입니다")

이름==>ㄱㄱㄱ
전화번호==>111111111111
제 이름은 ㄱㄱㄱ 이고 전화번호는 111111111111 입니다

In [23]:
print("##택배를 보내기 위한 정보를 입력하세요##")
num1 = input("받는 사람==>")
num2 = input("주소==>")
num3 = input("무게(g)==>")
result = int(num3)*5
print("**받는사람==>",num1)
print("**주소==>",num2)
print("**배송비",result,"원")

##택배를 보내기 위한 정보를 입력하세요##
받는 사람==>100
주소==>100
무게(g)==>100
**받는사람==> 100
**주소==> 100
**배송비 500 원

In [25]:
num1 = input("숫자1==>")
num2 = input("숫자2==>")
result1 =int(num1) + int(num2), int(num1) - int(num2)
result2 =int(num1) * int(num2), int(num1) / int(num2)
result3 =int(num1) % int(num2), int(num1) ** int(num2)
print(num1,"+",num2,"=",result1)
print(num1,"-",num2,"=",result1)
print(num1,"*",num2,"=",result2)
print(num1,"/",num2,"=",result2)
print(num1,"%",num2,"=",result3)
print(num1,"**",num2,"=",result3)

숫자1==>100
숫자2==>10
100 + 10 = (110, 90)
100 - 10 = (110, 90)
100 * 10 = (1000, 10.0)
100 / 10 = (1000, 10.0)
100 % 10 = (0, 100000000000000000000)
100 ** 10 = (0, 100000000000000000000)